/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Poppins:wght@100;300;400;500;600&display=swap');
/*creating css root variables*/
:root{
    --green: #27ac60;
    --dark-color: #219150;
    --black: #444;
    --light-color: #666;
    --border: .1rem solid rgba(0,0,0,.1);
    --border-hover: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0, .1);
}
/*apply to all elements*/
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;/*to capitalize each first letter*/
    transition: all .2s linear;
    transition: width none;
}
/*setting the overall html document*/
html{
    font-size: 62.5%;
    overflow: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
